<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% with messages = get_flashed_messages()%}
    {% if messages%}
    <ul>
        {% for message in messages%}
        <li>{{ message}}</li>
        {% endfor%}
    </ul>
    {% endif%}
    {% endwith %}

    <div>
        <p>Меню</p>
        <a href="/">Главная | </a>
        <a href="/users">Пользователи | </a>
        <a href="/login">Вход |</a>
        <a href="/register">Зарегистрироваться |</a>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>