<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
 <h2>Список Пользователей</h2>
    <p style="color: green"> Online:</p>
    {% for user in all_users%}
    {% if user.status == 'online' %}
    <p>{{user.username}} ; Возраст: {{user.age}}</p>
    <hr>
    {%endif%}
    {%endfor%}
    <p style="color: red"> Offline:</p>
    {% for user in all_users%}
    {% if user.status != 'online' %}
    <p>{{user.username}} ; Возраст: {{user.age}}</p>
    <hr>
    {%endif%}
    {%endfor%}
</body>
</html>